{% extends "base.html" %}
{% block title %}<title>Announcements</title>{% endblock %}
{% set active_page = "announcements" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">
  
  <!-- column 1 -->
    <div class="col-sm-12">
      <h3>Announcements</h3>

      <p>We have an upcoming conference next week, and are an opening ceremony for our new store!</p>
      <p>We are also signing on 10 new interns, 5 new employees, and adding 4 new warehouses in Seattle!</p>
    </div>
    
  </div>
</div>
{% endblock %}