{% extends "base.html" %}
{% set active_page = "home" %}

{% block title %}<title>Home</title>{% endblock %}
{% block content %}
<!-- container for tablular structure: 1 row -->

<h1>Welcome to Dynamite Kicks</h1>

<div class="container">
    <div class="row">

      <!-- column 1 -->
      <div class="col-sm-6">
        <h3>About Us</h3>

        <p>At Dynamite Kicks we have been providing excellent footwear for thousands of years. We are comprised of 
          many well trained professionals. You need nice shoes for your wife? Done. For your kids? Done. For your grandma
          Done. </p>
        <p> We have spent years perfecting our strategy, we offer high quality foorwear for everybody. Our styles
          are some of the most recognizable in the indusry. </p>
      </div>
      <div class="col-sm-6">

        <!-- column 2 -->

        <h3>News</h3>
        <p>We received an award for best footwear brand we also won a nobel peace prize. For some reason anyone
          that speaks poorly of us ends up deceased. </p>
        <p>We have a few lawsuits, nothing too crazy. Have you ever heard of gator skin? That is what we use for a
          majority of our products. Finally, in 2022 we hired a new CEO and she has been doing very well. </p>
      </div>
    </div>
  </div>
{% endblock %}